<form>
	<h2>New Post</h2>
	<label for="title">Post Title:</label>
	<input type="text" id="title" />
	<br />
	<label for="content">Post Content:</label>
	<input type="text" id="content" />
	<br />
	<button id="submit"> Submit Post</button>
</form>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
></script>
<script src="/js/newPost.js"></script>