<form>
	<label for="content">What would you like to comment?</label>
	<br />
	<input type="text" id="commentInput" />
	<button id="submitButton">Submit</button>
</form>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
></script>
<script src="/js/comment.js"></script>